{% assign settings = site.data.settings %}

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">
		<div class="row">
			<div class="col-6">

			</div>
			<div class="col-6 text-right">
				<small>
					<a class="author-logo" target="_blank" href="{{ settings.author.url }}">
				    	<span class="text">{{ settings.author.description }}</span>&nbsp;&nbsp;&nbsp;
				    	<img width="20" height="20" src="{{ settings.author.logo }}" alt="Website by {{ settings.author.title }}">
					</a>
				</small>
			</div>
		</div>
    </div>
</section>