/*
    BREADCRUMB.CSS

    - updated: 27.03.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BREADCRUMB
//-----------------------------------------------------------------

.breadcrumb {
    position: absolute;
    top: 0;
	z-index: 1;
	background: #f3f3f3;
	width: 200%;
	padding: rem-calc(10 0);
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================