/*
    BUTTONS.CSS

    - updated: 24.03.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// PRIMARY
//-----------------------------------------------------------------

.btn-primary,
.btn-primary.disabled,
.btn-secondary {
    display: inline-flex;
    position: relative;
    min-width: rem-calc(180);
    padding: rem-calc(15 25);
    // padding: rem-calc(16 65 13 25); // [LOCKED]
    border: 0; // [LOCKED] - reset
    background: $tertiary;
    text-align: left;
    text-transform: uppercase;
    // line-height: 1.2; // for multiline
    transition: 200ms ease background-color;

    .fa-angle-right {
        position: absolute;
        right: rem-calc(20);
        // margin-top: -2px;
        font-size: rem-calc(25);
        font-weight: 600;
    }

    &:hover,
    &:active {
        background: darken($tertiary, 5%) !important; // [LOCKED]
    }
}

//-----------------------------------------------------------------
// CONTEXT
//-----------------------------------------------------------------

.is-dark,
.is-darker {

    .btn-primary,
    .btn-primary.disabled,
    .btn-secondary {
        background: $quaternary;
        color: $secondary;

        &:hover,
        &:active {
            background: darken($quaternary, 10%) !important; // [LOCKED]
        }
    }
}

//-----------------------------------------------------------------
// BUTTON TILE
//-----------------------------------------------------------------

.btn-tile {
    position: relative;
    display: block;
    position: relative;
    // height: rem-calc(250);
    overflow: hidden;

    @include media-breakpoint-up(md) {
        // height: auto;
    }

    //=========================================
    //
    //=========================================

    &.is-slim {
        height: rem-calc(100);

        @include media-breakpoint-up(md) {
            height: rem-calc(220);
        }
    }

    //=========================================
    //
    //=========================================

    .btn-tile-label {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: rem-calc(8 10);
        background: $tertiary;
        font-size: rem-calc(14);
        color: white;
        line-height: 1.2;
    }

    .btn-tile-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: none;
        transition: transform 300ms ease;
    }

    .btn-tile-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: rem-calc(30);
        background: rgba(black, 0.5);
        transition: opacity 300ms ease, background-color 300ms ease;

        .btn-tile-header {
            color: white;
        }
    }

    //=========================================
    // HOVERS
    //=========================================

    &:hover {
        @include media-breakpoint-up(xl) {
            .btn-tile-bg {
                transform: scale(1.05);
            }
        }
    }
}

//=========================================
//
//=========================================