/*
    PAGINATION.CSS

    - updated: 27.03.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// PAGINATION
//-----------------------------------------------------------------

.pagination {
    background: #f4f4f4; // make var
    overflow: hidden;
    text-transform: uppercase;


    a {
        padding: rem-calc(10 20);
        font-weight: 600;

        &:hover {
            background: darken(#f4f4f4, 5%);
        }
    }
}

//=========================================
//
//=========================================