/*
    TYPE.CSS

    - Last updated: 27.03.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
    // @include media-breakpoint-up(xs) { font-size: rem-calc(14); }
    @include media-breakpoint-up(md) { font-size: rem-calc(15); } // zoomed out slightly for tablets
    @include media-breakpoint-up(xl) { font-size: rem-calc(16); }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color 300ms ease,
                background 300ms ease,
                opacity 300ms ease;
}

.wysiwyg a {
    font-weight: 600;
}

.anchor-link:hover {
    opacity: 0.8;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol, td {
    @include media-breakpoint-up(lg) {
        font-size: rem-calc(15);
    }
}

//-----------------------------------------------------------------
// HEADINGS
//-----------------------------------------------------------------

h2, .h2 {
    text-transform: uppercase; // covers most use cases
    margin-bottom: rem-calc(26);
}

.subheader {
	// font-weight: 400;
}

.lead {

}

hr {
    border-color: #f2f2f2;
    margin: rem-calc(40 0);
}

b, strong {
    font-weight: 600;
}

date {
    color: #aeb2be;
}

.text-normal {
    text-transform: none;
}

//-----------------------------------------------------------------
// HEADINGS MOBILE
//-----------------------------------------------------------------

@include media-breakpoint-down(sm) {
    h1, .h1 { font-size: calc(#{$h1-font-size} - 70%); }
    h2, .h2 { font-size: calc(#{$h2-font-size} - 40%); }
    h3, .h3 { font-size: calc(#{$h3-font-size} - 30%); }
    h4, .h4 { font-size: calc(#{$h4-font-size} - 20%); }
    h5, .h5 { font-size: calc(#{$h5-font-size} - 10%); }
    h6, .h6 { font-size: calc(#{$h6-font-size} - 10%); }
}

@include media-breakpoint-down(sm) {
	.display-1 { font-size: calc(#{$display1-size} - 250%); }
    // .display-2 { font-size: calc(#{$display1-size} - 100%) !important; }
    // .display-3 { font-size: calc(#{$display1-size} - 100%) !important; }
    // .display-4 { font-size: calc(#{$display1-size} - 100%) !important; }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================