---
layout: base
---

{% include hero.html %}

<!-- BODY -->
<main class="main-body">

	<!-- SECTION -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">

					<!-- FEATURED PROJECT -->
					<section class="section-body has-special-font-size pr-xl-5">
						<h2>Santa Comba Project</h2>
						<p>Some introductory content about the project,  sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellent esque eu, pretium quis, sem. Nulla consequat massa quis enim parturient montes. Penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
						<div class="spacer mb-3"></div>
						<p><a href="/santa-comba-project/" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a></p>
					</section>

				</div>
				<div class="col-md-6 d-flex flex-column">

					<!-- ABOUT -->
					<section class="section-body is-dark bleed-right has-special-pad-1 has-special-font-size">
						<h2>About</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
						<div class="spacer mb-3"></div>
						<p><a href="/about/" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a></p>
					</section>

					{% comment %}
					<!-- INVESTORS -->
					<section class="section-body is-dark bleed-right has-special-pad-1 has-special-font-size">
						<h2>Investors</h2>
						<p>Presentations, news, informatin about investing in GTT. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
						<div class="spacer mb-3"></div>
						<p><a href="/investors/" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a></p>
					</section>

					<!-- ABOUT -->
					<section class="section-body is-darker bleed-right has-special-pad-2 has-special-font-size">
						<h2>About</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
						<div class="spacer mb-3"></div>
						<p><a href="/about/" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a></p>
					</section>
					{% endcomment %}

				</div>
			</div>
		</div>
	</section>
</main>