---
layout: base__page
---

<!-- PRESENTATIONS -->
<section class="section has-image-bg is-top-right" style="background-image: url(/assets/img/content/investors-1.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- SECTION BODY -->
				<div class="section-body is-white bleed-left">
					<div class="row">
						<div class="col-md-11">
							<h2>Presentations</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Download the project summary and also an investor presentation to learn more about GTT’s Santa Comba Project.</p>

								<!-- DOCUMENT LINK EXAMPLE A -->
								​​<span class="document-link">
									<a href="#" target="_blank">Santa Comba Project Summary</a>
								</span>

								<!-- DOCUMENT LINK EXAMPLE B -->
								<a class="document-link" href="#" target="_blank">Lorem ipsum dolor sit amet Presentation</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MOBILE IMAGE -->
	<div class="mobile-image hidden-md-up">
		<span class="has-image-bg is-top-right" style="background-image: url(/assets/img/content/investors-1.jpg)"></span>
	</div>

</section>

<!-- NEWS -->
<section class="section has-image-bg is-top-left" style="background-image: url(/assets/img/content/investors-2.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-4">

				<!-- SECTION BODY -->
				<div class="section-body is-dark bleed-right">
					<div class="row">
						<div class="col-md-11 offset-md-1">
							<h2 class="mb-0">News</h2>

							<!-- NEWS ARTICLES -->
							{% for item in site.data.lorem_ipsum | limit: 3 %}
								<hr>
								<article class="pr-lg-4">
									<h3>{{ item.title }}</h3>
									<p><b class="text-uppercase"><date>{{ item.date | date: "%d %B %Y" }}</date></b></p>
									<p class="mb-1">{{ item.body | truncate: 350 }}</p>
									<a class="text-uppercase anchor-link" href="/investors/news/news-item/"><b>Read more</b> <i class="fa fa-angle-right"></i></a>
								</article>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MOBILE IMAGE -->
	<div class="mobile-image hidden-md-up">
		<span class="has-image-bg is-top-left" style="background-image: url(/assets/img/content/investors-2.jpg)"></span>
	</div>

</section>

<!-- INVESTING IN GTT -->
<section class="section has-image-bg is-top-right" style="background-image: url(/assets/img/content/investors-3.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- SECTION BODY -->
				<div class="section-body is-white bleed-left">
					<div class="row">
						<div class="col-md-11">
							<h2>Investing in GTT</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>

								<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>

								<p>Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lore.</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MOBILE IMAGE -->
	<div class="mobile-image hidden-md-up">
		<span class="has-image-bg is-top-right" style="background-image: url(/assets/img/content/investors-3.jpg)"></span>
	</div>

</section>