---
layout: base__page
---

<!-- INTRODUCTION -->
<section class="section has-image-bg is-top-right" style="background-image: url(/assets/img/content/santa-comba-1.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- SECTION BODY -->
				<div class="section-body is-white bleed-left">
					<div class="row">
						<div class="col-md-11">

							<h2>Introduction</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
							</div>

							<div class="spacer mb-4"></div>

							<!-- GALLERY THUMBS -->
							<ul class="block-grid-xs-1 block-grid-sm-2 block-grid-lg-3 block-grid-xl-4 block-grid-condensed popup-gallery" data-group-title="Santa Comba Project" data-equal-height-group>
								{% for i in (1..2) %}
									<li>
										<a class="btn-tile" href="http://placehold.it/800x600" title="Fig. 4A - Description goes here, longer text if required {{ i }}">
											<img width="100%" src="/assets/img/layout/thumb-sizer--400x300.svg" alt="Image Dimensions">
											<span class="btn-tile-bg" style="background-image: url(http://placehold.it/400x300)"></span>
											<span class="btn-tile-label" data-equal-height>Fig. 4A - Description goes here, longer text if required {{ i }}</span>
										</a>
									</li>
								{% endfor %}
							</ul>

							<div class="spacer mb-5"></div>

							<h2>History</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
							</div>

							<div class="spacer mb-4"></div>

							<!-- GALLERY THUMBS -->
							<ul class="block-grid-xs-1 block-grid-sm-2 block-grid-lg-3 block-grid-xl-4 block-grid-condensed popup-gallery" data-group-title="Santa Comba Project" data-equal-height-group>
								{% for i in (1..4) %}
									<li>
										<a class="btn-tile" href="http://placehold.it/800x600" title="Fig. 4A - Description goes here {{ i }}">
											<img width="100%" src="/assets/img/layout/thumb-sizer--400x300.svg" alt="Image Dimensions">
											<span class="btn-tile-bg" style="background-image: url(http://placehold.it/400x300)"></span>
											<span class="btn-tile-label" data-equal-height>Fig. 4A - Description goes here {{ i }}</span>
										</a>
									</li>
								{% endfor %}
							</ul>

							<!-- <div class="spacer mb-5"></div> NOTE: last one is omitted -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MOBILE IMAGE -->
	<div class="mobile-image hidden-md-up">
		<span class="has-image-bg is-top-right" style="background-image: url(/assets/img/content/santa-comba-1.jpg)"></span>
	</div>

</section>

<!-- MINERAL RESOURCES -->
<section class="section has-image-bg is-top-left" style="background-image: url(/assets/img/content/santa-comba-2.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-4">

				<!-- SECTION BODY -->
				<div class="section-body is-dark bleed-right">
					<div class="row">
						<div class="col-md-11 offset-md-1">

							<h2>Mineral Resources</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>

								<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
							</div>

							<div class="spacer mb-4"></div>

							<!-- GALLERY THUMBS -->
							<ul class="block-grid-xs-1 block-grid-sm-2 block-grid-lg-3 block-grid-xl-4 block-grid-condensed popup-gallery" data-group-title="Santa Comba Project" data-equal-height-group>
								{% for i in (1..6) %}
									<li>
										<a class="btn-tile" href="http://placehold.it/800x600" title="Fig. 4A - Description goes here {{ i }}">
											<img width="100%" src="/assets/img/layout/thumb-sizer--400x300.svg" alt="Image Dimensions">
											<span class="btn-tile-bg" style="background-image: url(http://placehold.it/400x300)"></span>
											<span class="btn-tile-label" data-equal-height>Fig. 4A - Description goes here {{ i }}</span>
										</a>
									</li>
								{% endfor %}
							</ul>

							<div class="spacer mb-5"></div>

							<h2>Mining &amp; Processing</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
							</div>

							<div class="spacer mb-4"></div>

							<!-- GALLERY THUMBS -->
							<ul class="block-grid-xs-1 block-grid-sm-2 block-grid-lg-3 block-grid-xl-4 block-grid-condensed popup-gallery" data-group-title="Santa Comba Project" data-equal-height-group>
								{% for i in (1..1) %}
									<li>
										<a class="btn-tile" href="http://placehold.it/800x600" title="Fig. 4A - Description goes here {{ i }}">
											<img width="100%" src="/assets/img/layout/thumb-sizer--400x300.svg" alt="Image Dimensions">
											<span class="btn-tile-bg" style="background-image: url(http://placehold.it/400x300)"></span>
											<span class="btn-tile-label" data-equal-height>Fig. 4A - Description goes here {{ i }}</span>
										</a>
									</li>
								{% endfor %}
							</ul>

							<div class="spacer mb-5"></div>

							<h2>Permitting</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
							</div>

							<!-- <div class="spacer mb-5"></div> NOTE: last one is omitted -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MOBILE IMAGE -->
	<div class="mobile-image hidden-md-up">
		<span class="has-image-bg is-top-left" style="background-image: url(/assets/img/content/santa-comba-2.jpg)"></span>
	</div>

</section>

<!-- PROJECT PLAN -->
<section class="section has-image-bg is-top-right" style="background-image: url(/assets/img/content/santa-comba-3.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- SECTION BODY -->
				<div class="section-body is-white bleed-left">
					<div class="row">
						<div class="col-md-11">

							<h2>Project Plan</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
							</div>

							<div class="spacer mb-4"></div>

							<h2>Project Financials</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MOBILE IMAGE -->
	<div class="mobile-image hidden-md-up">
		<span class="has-image-bg is-top-right" style="background-image: url(/assets/img/content/santa-comba-3.jpg)"></span>
	</div>

</section>

<!-- PHOTO GALLERY -->
<section class="section is-dark">
	<div class="container">
		<div class="section-body">
			<h2>Photo Gallery</h2>
			<div class="spacer mb-3"></div>

			<!-- GALLERY -->
			<ul class="block-grid-xs-2 block-grid-md-4 block-grid-condensed popup-gallery" data-group-title="Santa Comba Project">
				{% for i in (1..8) %}
					<li>
						<a class="btn-tile" href="http://placehold.it/800x600" title="Lorem ipsum dolor sit amet {{ i }}">
							<img width="100%" src="/assets/img/layout/thumb-sizer--400x300.svg" alt="Image Dimensions">
							<span class="btn-tile-bg" style="background-image: url(http://placehold.it/400x300)"></span>
						</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</div>
</section>