/*
    TEXT-EDITOR.CSS

    - updated: 08.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$spacer: rem-calc(20) !default;

//-----------------------------------------------------------------
// DOCUMENT LINK
//-----------------------------------------------------------------

a.document-link,
.document-link a {
	display: flex;
	padding: rem-calc(10 15);
	margin-bottom: $spacer;
	background: $tertiary;
	color: white;
	font-weight: 600;

	&:hover {
		background: lighten($tertiary, 5%) !important; // [LOCKED]
	}

	&:before,
	&:after {
		font-family: "FontAwesome";
		max-width: rem-calc(19);
	}

	&:before {
		content: "\f15c";
		margin-right: $spacer/2;
	}

	&:after {
		content: "\f105";
		font-size: rem-calc(25);
		line-height: 1;
		margin-left: auto;
	}
}

//-----------------------------------------------------------------
// IMAGE ALIGNMENT
//-----------------------------------------------------------------

.img-left {
	margin-bottom: $spacer;

	@include media-breakpoint-down(sm) {
	    width: 100%;
	}

	@include media-breakpoint-up(md) {
	    float: left;
	    margin: $spacer $spacer 0 0;
	}
}

.img-right {
	margin-bottom: $spacer;

	@include media-breakpoint-down(sm) {
	    width: 100%;
	}

	@include media-breakpoint-up(md) {
	    float: right;
	    margin: 0 0 $spacer $spacer;
	}
}

//-----------------------------------------------------------------
// FONTS
//-----------------------------------------------------------------

// .font-family-serif {
	// font-family: $font-family-serif;
// }

.font-family-sans-serif {
	font-family: $font-family-sans-serif;
}

//=========================================
//
//=========================================